In [20]:
#importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error as mse, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [21]:
# loading training file
df_train = pd.read_csv('train_BRCpofr.csv')
df_train.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736

In [22]:
# splitting the dataset into train and test split
X_train,X_test,y_train,y_test=train_test_split(df_train.drop('cltv', axis=1),df_train['cltv'],random_state=22, test_size=0.2)

In [23]:
# Making a base line prediction taking mean of the training dataset and providing it as prediction for all test cases

pred_cltv=np.zeros(y_test.shape[0])
pred_cltv.fill(y_train.mean())

In [24]:
mse(pred_cltv,y_test)

8146496381.163936

#Baseline MSE Error: 8146496381.16

In [25]:
# Defining a function to check benchmark models perfomance depending on a column
def check_by_single_feature(col):
    train=pd.concat([X_train,y_train], axis=1)
    col_type=pd.pivot_table(train, values='cltv', index = [col], aggfunc=['mean','median','count'])
    print(col_type)
    
    col_type_mean=np.zeros(X_test.shape[0])
    col_type_mean=list(map(lambda x:col_type.loc[x][( 'mean', 'cltv')], X_test[col]))
    
    print('\n',col,'type Root Mean Squared error: {}\n'.format(mse(y_test,col_type_mean)**0.5))

In [26]:
cat_cols=['gender', 'area', 'qualification', 'income', 'marital_status',
          'vintage', 'num_policies', 'policy', 'type_of_policy']

In [27]:
for col in cat_cols:
    check_by_single_feature(col)

                mean median  count
                cltv   cltv   cltv
gender
Female  98451.456234  67122  31234
Male    97631.959483  65772  40279

 gender type Root Mean Squared error: 90263.48597867311

                mean median  count
                cltv   cltv   cltv
area
Rural   79735.607713  63888  21627
Urban  105903.630117  67548  49886

 area type Root Mean Squared error: 89425.89211428036

                       mean median  count
                       cltv   cltv   cltv
qualification
Bachelor       98758.507066  66858  31420
High School    99006.560837  66360  37091
Others         77383.690873  60636   3002

 qualification type Root Mean Squared error: 90168.83479786519

                        mean median  count
                        cltv   cltv   cltv
income
2L-5L          109628.005626  68262  17064
5L-10L          94858.800428  65772  42035
<=2L           113349.430917  67428   1462
More than 10L   89823.926954  65670  10952

 income type Root Mean Squared error: 90021.4440373331

                         mean median  count
                         cltv   cltv   cltv
marital_status
0               106198.492794  68202  30390
1                91923.699244  65220  41123

 marital_status type Root Mean Squared error: 89986.33416197995

                  mean median  count
                  cltv   cltv   cltv
vintage
0         87367.777914  64038   3260
1         92664.234989  64404   6179
2         99233.540359  66624   7297
3        104136.942797  67524   5664
4         98403.493872  66348   8322
5         96255.295057  65640  10015
6         97539.249280  66108  14237
7         98594.686636  66852  10483
8        104206.634742  68670   6056

 vintage type Root Mean Squared error: 90166.5156384334

                       mean median  count
                       cltv   cltv   cltv
num_policies
1              50908.551919  38532  23402
More than 1   120891.034233  77712  48111

 num_policies type Root Mean Squared error: 84419.98719140305

                 mean median  count
                 cltv   cltv   cltv
policy
A       100409.356380  66336  45241
B        89556.875664  66300  19761
C       106772.748886  66756   6511

 policy type Root Mean Squared error: 90062.20289186326

                        mean median  count
                        cltv   cltv   cltv
type_of_policy
Gold            99378.112425  66180  16491
Platinum        99813.593033  66744  38239
Silver          92470.597867  65652  16783

 type_of_policy type Root Mean Squared error: 90207.99488615888

In [28]:
df_train.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy',
       'cltv'],
      dtype='object')

In [29]:
imp_cols=['area', 'gender','qualification', 'income', 'marital_status',
          'vintage', 'num_policies', 'policy', 'type_of_policy','claim_amount']

In [30]:
def process_df(df):
    mapped_area={
    'Rural':1,
    'Urban':2
    }
    mapped_qualification={
    'High School':2,
    'Bachelor':3,
    'Others':1
    }
    
   
    mapped_num_policies={
    '1':0,
    'More than 1':1,
    }
    mapped_income={
    '<=2L':0,
    '2L-5L':1,
    '5L-10L':2,
    'More than 10L':3
    }
    
    df['income']=df['income'].map(mapped_income)
    df['num_policies']=df['num_policies'].map(mapped_num_policies)
    
    df['qualification']=df['qualification'].map(mapped_qualification)
    df['area']=df['area'].map(mapped_area)
    df=df[imp_cols]
    
    return df

In [31]:
X=process_df(df_train)
X=pd.get_dummies(X)

y=df_train['cltv']

# splitting the dataset into train and test split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=22, test_size=0.2)

# Using Linear regression

In [32]:
linear_model=LinearRegression()

In [33]:
linear_model.fit(X_train,y_train)

LinearRegression()

In [34]:
y_pred=linear_model.predict(X_test)

In [35]:
r2_score(y_test,y_pred)

0.14950573868473715

In [36]:
df_test=pd.read_csv('test_koRSKBP.csv')
X_test=process_df(df_test)
X_test=pd.get_dummies(X_test)
y_pred=linear_model.predict(X_test)

In [37]:
df_test['cltv']=y_pred

In [38]:
df_sub=df_test[['id','cltv']]
df_sub.to_csv('linear_regression_final.csv',index=False)