In [16]:
# importing necessary modules
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error as mse, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import xgboost
from google.colab import files
import warnings
warnings.filterwarnings('ignore')

In [17]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [18]:
train = pd.read_csv('/content/drive/MyDrive/vahan_bima/train_BRCpofr.csv')
train.head()

,id,gender,area,qualification,income,marital_status,vintage,claim_amount,num_policies,policy,type_of_policy,cltv
0,1,Male,Urban,Bachelor,5L-10L,1,5,5790,More than 1,A,Platinum,64308
1,2,Male,Rural,High School,5L-10L,0,8,5080,More than 1,A,Platinum,515400
2,3,Male,Urban,Bachelor,5L-10L,1,8,2599,More than 1,A,Platinum,64212
3,4,Female,Rural,High School,5L-10L,0,7,0,More than 1,A,Platinum,97920
4,5,Male,Urban,High School,More than 10L,1,6,3508,More than 1,A,Gold,59736

In [19]:
def process_df(df):

   
    
  mapped_qualification={
                  'High School':1,
                'Bachelor':2,
                  'Others':0
              }
    
  mapped_num_policies={
    '1':1,
    'More than 1':2,
    }
  mapped_income={
    '<=2L':0,
    '2L-5L':1,
    '5L-10L':2,
    'More than 10L':3
    }
    
  df['income']=df['income'].map(mapped_income)
  df['num_policies']=df['num_policies'].map(mapped_num_policies)
    
  df['qualification']=df['qualification'].map(mapped_qualification)
    
  df=df[['gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy']]
    
  return df

In [20]:
train.columns

Index(['id', 'gender', 'area', 'qualification', 'income', 'marital_status',
       'vintage', 'claim_amount', 'num_policies', 'policy', 'type_of_policy',
       'cltv'],
      dtype='object')

In [21]:
X=process_df(train)
X=pd.get_dummies(X)
Y=train['cltv']

In [22]:
X

,qualification,income,marital_status,vintage,claim_amount,num_policies,gender_Female,gender_Male,area_Rural,area_Urban,policy_A,policy_B,policy_C,type_of_policy_Gold,type_of_policy_Platinum,type_of_policy_Silver
0,2,2,1,5,5790,2,0,1,0,1,1,0,0,0,1,0
1,1,2,0,8,5080,2,0,1,1,0,1,0,0,0,1,0
2,2,2,1,8,2599,2,0,1,0,1,1,0,0,0,1,0
3,1,2,0,7,0,2,1,0,1,0,1,0,0,0,1,0
4,1,3,1,6,3508,2,0,1,0,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89387,1,3,0,6,0,2,0,1,1,0,0,1,0,0,1,0
89388,2,2,1,0,3897,2,0,1,0,1,1,0,0,0,1,0
89389,2,2,0,4,3363,2,1,0,0,1,0,1,0,0,1,0
89390,1,1,0,8,0,2,1,0,1,0,0,1,0,0,1,0
89391,1,2,0,6,0,2,1,0,1,0,0,1,0,1,0,0

In [23]:
X_train,X_test,y_train,y_test=train_test_split(X,Y, random_state=22, test_size=0.2)
model=xgboost.XGBRegressor(booster='gbtree')
model.fit(X_train,y_train)
simple_pred=model.predict(X_test)
print('Mean Squared Error:',mse(y_test,simple_pred))
print('R squared:',r2_score(y_test,simple_pred))

[16:15:28] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
Mean Squared Error: 6859822439.514009
R squared: 0.15793845355310598

In [24]:
model.feature_importances_

array([5.0436622e-03, 9.0925107e-03, 1.6858403e-02, 2.6763463e-03,
       2.5970906e-02, 7.7723056e-01, 6.9769216e-03, 0.0000000e+00,
       9.1292039e-02, 0.0000000e+00, 3.6147428e-03, 2.7698429e-02,
       2.2462741e-02, 6.8957508e-03, 6.5699319e-04, 3.5299829e-03],
      dtype=float32)

In [26]:
model.get_xgb_params()

{'base_score': 0.5,
 'booster': 'gbtree',
 'colsample_bylevel': 1,
 'colsample_bynode': 1,
 'colsample_bytree': 1,
 'gamma': 0,
 'importance_type': 'gain',
 'learning_rate': 0.1,
 'max_delta_step': 0,
 'max_depth': 3,
 'min_child_weight': 1,
 'missing': None,
 'n_estimators': 100,
 'nthread': 1,
 'objective': 'reg:linear',
 'reg_alpha': 0,
 'reg_lambda': 1,
 'scale_pos_weight': 1,
 'seed': 0,
 'subsample': 1,
 'verbosity': 1}

In [27]:
from sklearn.model_selection import GridSearchCV

clf = GridSearchCV(xgboost.XGBRegressor(booster='gbtree',objective= 'reg:squarederror',n_jobs = 16), 
      {
     
     
     'learning_rate': [0.1105,0.111],
                       
      'n_estimators': [86,90],
     'max_depth': [3,4,5], 
     'colsample_bylevel':[0.5],
     'subsample':[0.75],
      
     },
      cv=10)
clf.fit(X,Y)
clf.cv_results_

{'mean_fit_time': array([3.38162937, 3.6120842 , 4.22686529, 4.37205324, 5.1618809 ,
        5.39273748, 3.39617033, 3.5350389 , 4.22348971, 4.41623185,
        5.15759826, 5.40889702]),
 'std_fit_time': array([0.04920899, 0.23720578, 0.02876426, 0.0339276 , 0.0612122 ,
        0.05095527, 0.0324104 , 0.02430348, 0.04755237, 0.03744146,
        0.03518466, 0.04632856]),
 'mean_score_time': array([0.02141674, 0.02174177, 0.02573311, 0.02677021, 0.03051593,
        0.03092589, 0.02077148, 0.02070546, 0.02555971, 0.02590175,
        0.02981527, 0.03214238]),
 'std_score_time': array([0.00090859, 0.00073992, 0.00170114, 0.00343242, 0.00164499,
        0.00064996, 0.00179274, 0.00068218, 0.00199323, 0.00062848,
        0.00056886, 0.00200383]),
 'param_colsample_bylevel': masked_array(data=[0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5, 0.5,
                    0.5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_learning_rate': masked_array(data=[0.1105, 0.1105, 0.1105, 0.1105, 0.1105, 0.1105, 0.111,
                    0.111, 0.111, 0.111, 0.111, 0.111],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_max_depth': masked_array(data=[3, 3, 4, 4, 5, 5, 3, 3, 4, 4, 5, 5],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_n_estimators': masked_array(data=[86, 90, 86, 90, 86, 90, 86, 90, 86, 90, 86, 90],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'param_subsample': masked_array(data=[0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75, 0.75,
                    0.75, 0.75, 0.75],
              mask=[False, False, False, False, False, False, False, False,
                    False, False, False, False],
        fill_value='?',
             dtype=object),
 'params': [{'colsample_bylevel': 0.5,
   'learning_rate': 0.1105,
   'max_depth': 3,
   'n_estimators': 86,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.1105,
   'max_depth': 3,
   'n_estimators': 90,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.1105,
   'max_depth': 4,
   'n_estimators': 86,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.1105,
   'max_depth': 4,
   'n_estimators': 90,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.1105,
   'max_depth': 5,
   'n_estimators': 86,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.1105,
   'max_depth': 5,
   'n_estimators': 90,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.111,
   'max_depth': 3,
   'n_estimators': 86,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.111,
   'max_depth': 3,
   'n_estimators': 90,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.111,
   'max_depth': 4,
   'n_estimators': 86,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.111,
   'max_depth': 4,
   'n_estimators': 90,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.111,
   'max_depth': 5,
   'n_estimators': 86,
   'subsample': 0.75},
  {'colsample_bylevel': 0.5,
   'learning_rate': 0.111,
   'max_depth': 5,
   'n_estimators': 90,
   'subsample': 0.75}],
 'split0_test_score': array([0.16330427, 0.16331409, 0.16261701, 0.16251609, 0.16096755,
        0.16126953, 0.16326043, 0.16326138, 0.16226533, 0.1623685 ,
        0.16179661, 0.16181743]),
 'split1_test_score': array([0.15692453, 0.15691581, 0.15712213, 0.1571595 , 0.1551716 ,
        0.15524125, 0.15734849, 0.15741131, 0.15697149, 0.15692314,
        0.15511055, 0.15539122]),
 'split2_test_score': array([0.15562852, 0.15557984, 0.15697706, 0.15680609, 0.1544125 ,
        0.15423418, 0.15576925, 0.15572683, 0.15592081, 0.15582797,
        0.15506478, 0.15499594]),
 'split3_test_score': array([0.15634682, 0.15626736, 0.15696511, 0.15679444, 0.15598683,
        0.15575098, 0.15645266, 0.15637398, 0.15701356, 0.15676712,
        0.15571178, 0.1554839 ]),
 'split4_test_score': array([0.15166834, 0.15164843, 0.15166259, 0.15170713, 0.15019738,
        0.15017002, 0.15138933, 0.15135138, 0.15167553, 0.15165655,
        0.14995125, 0.14990844]),
 'split5_test_score': array([0.1621223 , 0.16221594, 0.16188058, 0.1617171 , 0.16186136,
        0.16185211, 0.16205673, 0.16198196, 0.16188288, 0.16165991,
        0.16004187, 0.15993965]),
 'split6_test_score': array([0.16532424, 0.16531461, 0.16568915, 0.16545722, 0.16419537,
        0.16414007, 0.16505886, 0.16505548, 0.16538576, 0.16513143,
        0.16319519, 0.16304821]),
 'split7_test_score': array([0.14731621, 0.14722064, 0.14607038, 0.1460909 , 0.14475757,
        0.14444918, 0.14733564, 0.14726702, 0.14651588, 0.14649175,
        0.14472833, 0.14456169]),
 'split8_test_score': array([0.18179293, 0.18201165, 0.18071989, 0.18064848, 0.18008081,
        0.18008539, 0.1819998 , 0.18201246, 0.18030561, 0.18050596,
        0.18057151, 0.18048114]),
 'split9_test_score': array([0.16635075, 0.16624515, 0.16606527, 0.16610557, 0.1647733 ,
        0.1647704 , 0.16639855, 0.16629945, 0.16616678, 0.16619837,
        0.16466202, 0.16470556]),
 'mean_test_score': array([0.16067789, 0.16067335, 0.16057692, 0.16050025, 0.15924043,
        0.15919631, 0.16070697, 0.16067413, 0.16041036, 0.16035307,
        0.15908339, 0.15903332]),
 'std_test_score': array([0.00909202, 0.00916058, 0.00892021, 0.00889368, 0.00917234,
        0.00924286, 0.00912376, 0.00913699, 0.00878746, 0.0088418 ,
        0.00922395, 0.00922892]),
 'rank_test_score': array([ 2,  4,  5,  6,  9, 10,  1,  3,  7,  8, 11, 12], dtype=int32)}

In [28]:
clf.best_params_

{'colsample_bylevel': 0.5,
 'learning_rate': 0.111,
 'max_depth': 3,
 'n_estimators': 86,
 'subsample': 0.75}

In [ ]:
#0.15793845355310598

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,Y, random_state=22, test_size=0.2)
model=xgboost.XGBRegressor(booster='gbtree', colsample_bylevel= 0.5,
 learning_rate= 0.111,
 max_depth= 3,
 n_estimators=86,
 objective= 'reg:squarederror',
 subsample= 0.75)
model.fit(X_train,y_train)
simple_pred=model.predict(X_test)
print('Mean Squared Error:',mse(y_test,simple_pred))
print('R squared:',r2_score(y_test,simple_pred))

Mean Squared Error: 6852353228.783059
R squared: 0.15885531914172712

In [30]:
model_xgb=xgboost.XGBRegressor(booster='gbtree', colsample_bylevel= 0.5,
 learning_rate= 0.111,
 max_depth= 3,
 n_estimators=86,
 objective= 'reg:squarederror',
 subsample= 0.75)
model_xgb.fit(X,Y)

XGBRegressor(colsample_bylevel=0.5, learning_rate=0.111, n_estimators=86,
             objective='reg:squarederror', subsample=0.75)

In [31]:
df_test=pd.read_csv('/content/drive/MyDrive/vahan_bima/test_koRSKBP.csv')
X_test=process_df(df_test)
X_test=pd.get_dummies(X_test)
y_pred=model_xgb.predict(X_test)
df_test['cltv']=y_pred

In [32]:
df_sub=df_test[['id','cltv']] 
df_sub.to_csv('xgb_final_submission.csv',index=False)

In [33]:
files.download('xgb_final_submission.csv')